<footer>
  <div class="newsletter">
    <h2 class="title-3">Sign up for our newsletter.</h2>
    <div class="sign-up">
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
      <div id="mc_embed_signup">
      <form action="https://nhcctoday.us6.list-manage.com/subscribe/post?u=74813e5d1413cbb65f9791ec0&amp;id=56afd0fbaa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        	  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_74813e5d1413cbb65f9791ec0_56afd0fbaa" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
      </form>
      </div>

      <!--End mc_embed_signup-->
    </div>
  </div>
  <div class="contact">
    <div class="text">
      <div class="container">
        <h3 class="title-2">We meet Sundays <br /> at {{ site.service_time }}
        </h3>
        <div class="bar"></div>
      </div>
      <div class="contact-info mar-top-48">
        <p class="regular">
          778 Thompson Run Rd, <br />Pittsburgh, PA 15237
        </p>
        <p class="regular mar-top-48">
          hi@northhillschristian.church
        </p>
        <p class="regular">
          (412) 487-4142
        </p>
      </div>
    </div>
    <div class="map">
      <div id="map">
      </div>
    </div>
  </div>
  <div class="links">
    <ul class="nav">
      <li><a href="/about">About</a></li>
      <li><a href="/community">Community</a></li>
      <li><a href="/family">Family</a></li>
      <li><a href="/events">Events</a></li>
    </ul>
    <div class="social">
      <div class="icon">
        <a href="https://www.instagram.com/northhillschristian.church/" target="_blank">
          <img src="imgs/instagram.svg" />
        </a>
      </div>
      <div class="icon">
        <a href="https://www.facebook.com/northhillschristian.church/" target="_blank">
          <img src="imgs/facebook.svg" />
        </a>
      </div>
    </div>
  </div>
</footer>
