---
layout: default
---

    <div class="page-title">
      <div class="max-width-container">
        <h1 class="title-2">About</h1>
        <div class="bar"></div>
      </div>
    </div>

    <div class="about-container">
      <div class="max-width-container">

        <div class="about-nav">
          <div class="overlay">
          </div>
          <div class="container">
            <ul class="nav">
              <li><a href="#">Sundays</a></li>
              <li><a href="#">Sermons</a></li>
              <li><a href="#">History & Beliefs</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
        </div>

        <div class="about-sections">
          <div class="section sundays">
            <h2 class="title-1">Sundays</h2>
            <div class="image">
              <img src="imgs/about.jpg" />
            </div>
            <div class="text">
              {{ page['sundays_text'] }}
            </div>
          </div>
          <div class="section sermons">
            <h2 class="title-1">Sermons</h2>
              <div class="image">
                <div class="details">
                  <h3 class="title-3">Latest:</h3>
                  <h3 class="title-3 mar-top-8">Sinners & Saints, Part 3</h3>
                  <div class="controls">
                    <a href="#" class="icon-button">
                      <img src="imgs/play-icon.svg" />
                      <p>Watch</p>
                    </a>
                    <a href="#" class="all">View all</a>
                  </div>
                </div>
                <img src="imgs/sermons.jpg" />
              </div>
          </div>
          <div class="section history">
            <h2 class="title-1">History <br />& Beliefs</h2>
            <div class="image">
              <img src="imgs/history.jpg" />
            </div>
            <div class="text">
              <p class="regular">
                NHCC was started in 1960 with just a few members and over the next six decades has grown into the church it is today. This is what NHCC believes:
              </p>
              <ul class="beliefs">
                <li>
                  <p class="regular number">
                    1.
                  </p>
                  <p class="regular description">
                    In one God, eternally existent in three persons: Father, Son and Holy Spirit (1 Cor 8:6; Matt 28:19-20; Eph 4:4-6)
                  </p>
                </li>
                <li>
                  <p class="regular number">
                    2.
                  </p>
                  <p class="regular description">
                    The Bible is the Word of God. (2 Tim 3:15-17; 2 Peter 1:19-21)
                  </p>
                </li>
                <li>
                  <p class="regular number">
                    3.
                  </p>
                  <p class="regular description">
                    We believe in the deity of Jesus; in his virgin birth; his perfect sinless life; his miracles; his victorious and atoning death on the cross; his bodily resurrection; and in his ascension to the right hand of the Father. (Matt 1:18-23; 3:17; 28:1-6; John 2:9; 4:45; 5:5; Acts 1:9; 1 Peter 1:19; 22:21-25)
                  </p>
                </li>
                <li>
                  <p class="regular number">
                    4.
                  </p>
                  <p class="regular description">
                    We believe in the ministry of Holy Spirit who offers guidance and gifts to live in the community of the Church. (John 14:26; 15:26-27) We believe in the personal and imminent return of Jesus Christ to Earth. (John 14:13; Acts 1:11; 1 Thess 4:14-18)
                  </p>
                </li>
                <li>
                  <p class="regular number">
                    5.
                  </p>
                  <p class="regular description">
                    We believe in the resurrection of the dead in Jesus return. (Matt 25:31-32; 1 Cor 15:51-52; Rev 20:4-15)
                  </p>
                </li>
                <li>
                  <p class="regular number">
                    6.
                  </p>
                  <p class="regular description">
                    We believe in the New Testament pattern of observing communion each Lord’s Day. (Luke 22:19; Acts 20:7; 1 Cor 11:23-29)
                  </p>
                </li>
                <li>
                  <p class="regular number">
                    7.
                  </p>
                  <p class="regular description">
                    We believe in the New Testament pattern of observing communion each Lord’s Day. (Luke 22:19; Acts 20:7; 1 Cor 11:23-29)
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="section team">
            <h2 class="title-1">Team</h2>
            <div class="team-list">
              <div class="team-member">
                <div class="portrait">
                  <img class="portrait-image" src="imgs/portrait.jpg" />
                  <a class="email-button"><img src="imgs/email-icon.svg" /></a>
                </div>
                <div class="bio">
                  <h3 class="title-3">Don Swingle, Jr.</h3>
                  <p class="regular">Senior Minister</p>
                  <p class="regular bio-text">
                    Don has been Senior Minister since April 2010.  He serves with more than four decades of ministry experience, including Christian television, and former churches in Texas and Florida. Education includes doctorate and master degrees from Trinity Theological Seminary and a bachelor degree from Ozark Christian College. Don is married with two adult children and one grandchild.
                  </p>
                </div>
              </div>
              <div class="team-member">
                <div class="portrait">
                  <img class="portrait-image" src="imgs/portrait.jpg" />
                  <a class="email-button"><img src="imgs/email-icon.svg" /></a>
                </div>
                <div class="bio">
                  <h3 class="title-3">Don Swingle, Jr.</h3>
                  <p class="regular">Senior Minister</p>
                  <p class="regular bio-text">
                    Don has been Senior Minister since April 2010.  He serves with more than four decades of ministry experience, including Christian television, and former churches in Texas and Florida. Education includes doctorate and master degrees from Trinity Theological Seminary and a bachelor degree from Ozark Christian College. Don is married with two adult children and one grandchild.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="section faq">
            <h2 class="title-1">FAQ</h2>
            <ul class="faq-list">
              <li>
                <p class="title-3">
                  Are you a part of any denomination?
                </p>
                <p class="regular mar-top-24">
                  No. We do not have a governing body, dioceses or presbytery. NHCC is an autonomous, non-denominational congregation of all backgrounds, but we are associated with nearly 5,000 other Christian Churches/Churches of Christ across the world that share similar beliefs and practices.
                </p>
              </li>
              <li>
                <p class="title-3">
                  Do I need to dress up?
                </p>
                <p class="regular mar-top-24">
                  No. NHCC offers a casual worship service. We encourage everyone to come with a cup of your favorite drink--or have one of ours--and wear whatever makes you feel comfortable.
                </p>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
