---
layout: default
---

    <div class="page-title">
      <div class="max-width-container">
        <h1 class="title-2">About</h1>
        <div class="bar"></div>
      </div>
    </div>

    <div class="about-container">
      <div class="max-width-container">

        <div class="about-nav">
          <div class="overlay">
          </div>
          <div class="container">
            <ul class="nav">
              <li><a data-scroll href="#sundays">Sundays</a></li>
              <li><a data-scroll href="#sermons">Sermons</a></li>
              <li><a data-scroll href="#history">History & Beliefs</a></li>
              <li><a data-scroll href="#team">Team</a></li>
              <li><a data-scroll href="#faq">FAQ</a></li>
            </ul>
          </div>
        </div>

        <div class="about-sections">
          <div id="sundays" class="section sundays">
            <h2 class="title-1 animate-fade">Sundays</h2>
            <div class="image">
              <img class="animate-fade" src="{{ page['sundays image'] }}" />
            </div>
            <div class="text animate-fade-up">
              {{ page['sundays text'] | markdownify }}
            </div>
          </div>
          <div id="sermons" class="section sermons">
            <h2 class="title-1 animate-fade">Sermons</h2>
              <div class="latest animate-fade">
                {% assign sorted_sermons = site.sermon_library | sort:"position" %}
                {% for item in sorted_sermons limit:1 %}
                <div class="sermon">
                  <div class="media">
                    <div class="media-wrapper">
                      <iframe src="{{ item.media }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="info">
                    <h3 class="title-4 mar-bot-8">
                      Latest:
                    </h3>
                    <h3 class="title-3">
                      {{ item.title }}
                    </h3>
                  </div>
                  <div class="view-all">
                    <a class="button" href="/sermons">View All</a>
                  </div>
                </div>
                {% endfor %}
              </div>
          </div>
          <div id="history" class="section history">
            <h2 class="title-1 animate-fade">History <br />& Beliefs</h2>
            <div class="image">
              <img class="animate-fade" src="{{ page['history image'] }}" />
            </div>
            <div class="text animate-fade-up">
              <p class="regular">
                {{ page['history text'] }}
              </p>
              <ul class="beliefs">
                {% for item in page.beliefs %}
                <li>
                  <p class="regular number">
                    {{ item.number }}
                  </p>
                  <p class="regular description">
                    {{ item.description }}
                  </p>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div id="team" class="section team">
            <h2 class="title-1 animate-fade">Team</h2>
            <div class="team-list">
              {% assign sorted_team = site.team_members | sort:"position" %}
              {% for item in sorted_team %}
              <div class="team-member animation-group">
                <div class="portrait animate-fade">
                  <img class="portrait-image" src="{{ item.image }}" />
                  <a class="email-button" href="mailto:{{ item.email }}"><img src="imgs/email-icon.svg" /></a>
                </div>
                <div class="bio animate-fade-up">
                  <h3 class="title-3">{{ item.title }}</h3>
                  <p class="regular">{{ item.role }}</p>
                  <div class="bio-text">
                    {{ item['content'] | markdownify }}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div id="faq" class="section faq">
            <h2 class="title-1 animate-fade">FAQ</h2>
            <ul class="faq-list animate-fade-up">
              {% assign sorted_faq = page.faq | sort:"position" %}
              {% for item in sorted_faq %}
              <li>
                <p class="title-3">
                  {{ item.question }}
                </p>
                <div class="text mar-top-24">
                  {{ item.answer | markdownify }}
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>
    </div>
