---
layout: default
---

    <div class="page-title">
      <div class="max-width-container">
        <h1 class="title-2">About</h1>
        <div class="bar"></div>
      </div>
    </div>

    <div class="about-container">
      <div class="max-width-container">

        <div class="about-nav">
          <div class="overlay">
          </div>
          <div class="container">
            <ul class="nav">
              <li><a href="#">Sundays</a></li>
              <li><a href="#">Sermons</a></li>
              <li><a href="#">History & Beliefs</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </div>
        </div>

        <div class="about-sections">
          <div class="section sundays">
            <h2 class="title-1">Sundays</h2>
            <div class="image">
              <img src="{{ page['sundays image'] }}" />
            </div>
            <div class="text">
              {{ page['sundays text'] | markdownify }}
            </div>
          </div>
          <div class="section sermons">
            <h2 class="title-1">Sermons</h2>
              <div class="image">
                <div class="details">
                  <h3 class="title-3">Latest:</h3>
                  <h3 class="title-3 mar-top-8">Sinners & Saints, Part 3</h3>
                  <div class="controls">
                    <a href="#" class="icon-button">
                      <img src="imgs/play-icon.svg" />
                      <p>Watch</p>
                    </a>
                    <a href="#" class="all">View all</a>
                  </div>
                </div>
                <img src="imgs/sermons.jpg" />
              </div>
          </div>
          <div class="section history">
            <h2 class="title-1">History <br />& Beliefs</h2>
            <div class="image">
              <img src="{{ page['history image'] }}" />
            </div>
            <div class="text">
              <p class="regular">
                {{ page['history text'] }}
              </p>
              <ul class="beliefs">
                {% for item in page.beliefs | sort:"position" %}
                <li>
                  <p class="regular number">
                    {{ item.number }}
                  </p>
                  <p class="regular description">
                    {{ item.description }}
                  </p>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="section team">
            <h2 class="title-1">Team</h2>
            <div class="team-list">
              {% for item in site.team | sort:"position" %}
              <div class="team-member">
                <div class="portrait">
                  <img class="portrait-image" src="{{ item.image }}" />
                  <a class="email-button"><img src="imgs/email-icon.svg" /></a>
                </div>
                <div class="bio">
                  <h3 class="title-3">{{ item.name }}.</h3>
                  <p class="regular">{{ item.title }}</p>
                  <p class="regular bio-text">
                    {{ item.bio }}
                  </p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="section faq">
            <h2 class="title-1">FAQ</h2>
            <ul class="faq-list">
              <li>
                <p class="title-3">
                  Are you a part of any denomination?
                </p>
                <p class="regular mar-top-24">
                  No. We do not have a governing body, dioceses or presbytery. NHCC is an autonomous, non-denominational congregation of all backgrounds, but we are associated with nearly 5,000 other Christian Churches/Churches of Christ across the world that share similar beliefs and practices.
                </p>
              </li>
              <li>
                <p class="title-3">
                  Do I need to dress up?
                </p>
                <p class="regular mar-top-24">
                  No. NHCC offers a casual worship service. We encourage everyone to come with a cup of your favorite drink--or have one of ours--and wear whatever makes you feel comfortable.
                </p>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
