---
layout: default
---

    <div class="page-title">
      <div class="max-width-container">
        <h1 class="title-2">Community</h1>
        <div class="bar"></div>
      </div>
    </div>

    <div class="community-grid">
      <div class="max-width-container">
        <div class="grid">
          <div class="grid-item">
            <a href="/community2community">
              <div class="image">
                <img src="{{ page['Community2Community image'] }}" />
              </div>
              <div class="text">
                <h2 class="title-3 mar-top-24">Community2Community</h2>
                <p class="regular mar-top-16">
                  {{ page['Community2Community headline'] }}
                </p>
              </div>
            </a>
          </div>
          <div class="grid-item">
            <a href="/groups">
              <div class="image">
                <img src="{{ page['Small Groups image'] }}" />
              </div>
              <div class="text">
                <h2 class="title-3 mar-top-24">Small Groups</h2>
                <p class="regular mar-top-16">
                  {{ page['Small Groups headline'] }}
                </p>
              </div>
            </a>
          </div>
          <div class="grid-item">
            <a href="/missions">
              <div class="image">
                <img src="  {{ page['Missions image'] }}" />
              </div>
              <div class="text">
                <h2 class="title-3 mar-top-24">Missions</h2>
                <p class="regular mar-top-16">
                  {{ page['Missions headline'] }}
                </p>
              </div>
            </a>
          </div>
          <div class="grid-item">
            <a href="https://www.continuetogive.com/4812344" target="_blank">
              <div class="image">
                <img src="{{ page['Give image'] }}" />
              </div>
              <div class="text">
                <h2 class="title-3 mar-top-24">Give</h2>
                <p class="regular mar-top-16">
                  {{ page['Give headline'] }}
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
