---
layout: default
---

    <div class="page-title">
      <div class="max-width-container">
        <h1 class="title-2">Community2Community</h1>
        <div class="bar"></div>
      </div>
    </div>

    <div class="page-image">
      <img src="{{ page['header image'] }}" />
    </div>

    <div class="page-intro">
      <div class="max-width-container">
        <p class="large">
          {{ page['content'] }}
        </p>
      </div>
    </div>

    <div class="comm2comm-grid">
      <div class="max-width-container">
        {% assign sorted_programs = site.c2c_programs | sort:"position" %}
        {% for item in sorted_programs %}
          <div class="grid-item">
            <div class="image">
              <img src="{{ item['image'] }}" />
            </div>
            <div class="text">
              <h2 class="title-3">{{ item['title'] }}</h2>
              <div class="mar-top-24">
                {{ item['content'] | markdownify }}
              </div>
              <a class="button mar-top-24" href="mailto:{{ item['get involved email'] }}">Get Involved</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
