<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <script media="all" src="js/jquery-3.2.1.min.js"></script>
    <script media="all" src="js/jquery.waypoints.min.js"></script>
    <script media="all" src="js/smooth-scroll.js"></script>
    <script media="all" src="js/main.js"></script>
    <script>
      function initMap() {
        var uluru = {lat: 40.550440018509676, lng: -79.99786697222888};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
        marker.addListener('click', function() {
          window.open('https://www.google.com/maps/place/North+Hills+Christian+Church/@40.5504605,-79.996948,15z/data=!4m5!3m4!1s0x0:0x48fa49a538c4c4ce!8m2!3d40.5504605!4d-79.996948', '_blank');
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaeeipSEjg5rOW11Ez9BGxAVl8jAaKG3E&callback=initMap">
    </script>
  </body>

</html>
