---
layout: default
---

    <div class="page-title">
      <div class="max-width-container">
        <h1 class="title-2">Family</h1>
        <div class="bar"></div>
      </div>
    </div>

    <div class="page-image">
      <img src="{{ page['Family image'] }}" />
    </div>

    <div class="family-text">
      <div class="container">
        <div class="kids">
          <h2 class="title-3">Kids</h2>
          <div class="text">
            {{ page['Kids text'] | markdownify }}
          </div>
          <a class="button mar-top-24" href="mailto:{{ page['Kids email a question'] }}">Ask a Question</a>
        </div>
        <div class="students">
          <h2 class="title-3">Students</h2>
          <div class="text">
            {{ page['Students text'] | markdownify }}
          </div>
          <a class="button mar-top-24" href="mailto:{{ page['Students email a question'] }}">Ask a Question</a>
        </div>
      </div>
    </div>

    <div class="family-events">
      <div class="events-grid">
        <div class="container">
        <h2 class="title-2">Family Events</h2>
          <div class="event">
            <div class="image">
              <img src="assets/imgs/backpack.jpg" />
              <div class="date">
                <p class="month">
                  Apr
                </p>
                <p class="day">
                  3
                </p>
              </div>
            </div>
            <div class="text">
              <h2 class="title-3">Backpack Initiative: Packing Night</h2>
              <p class="regular mar-top-8">
                April 3, 7-8pm
              </p>
              <p class="regular mar-top-24">
                Each week we feed close to 200 students in the North Hills School District who are at risk of going hungry over the weekend. We pack bags each Monday evening full of nutritious meals and snacks to be placed in students’ backpacks for the next weekend.
              </p>
              <a class="button mar-top-24">Sign Up</a>
            </div>
          </div>
          <div class="event">
            <div class="image">
              <img src="assets/imgs/backpack.jpg" />
              <div class="date">
                <p class="month">
                  Apr
                </p>
                <p class="day">
                  3
                </p>
              </div>
            </div>
            <div class="text">
              <h2 class="title-3">Backpack Initiative: Packing Night</h2>
              <p class="regular mar-top-8">
                April 3, 7-8pm
              </p>
              <p class="regular mar-top-24">
                Each week we feed close to 200 students in the North Hills School District who are at risk of going hungry over the weekend. We pack bags each Monday evening full of nutritious meals and snacks to be placed in students’ backpacks for the next weekend.
              </p>
              <a class="button mar-top-24">Sign Up</a>
            </div>
          </div>
        </div>
      </div>

    </div>
