---
layout: default
---

    <div class="page-title">
      <div class="max-width-container">
        <h1 class="title-2">Family</h1>
        <div class="bar"></div>
      </div>
    </div>

    <div class="page-image">
      <img src="{{ page['Family image'] }}" />
    </div>

    <div class="family-text">
      <div class="container">
        <div class="kids">
          <h2 class="title-3">Kids</h2>
          <div class="text">
            {{ page['Kids text'] | markdownify }}
          </div>
          <a class="button mar-top-24" href="mailto:{{ page['Kids ask a question'] }}">Ask a Question</a>
        </div>
        <div class="students">
          <h2 class="title-3">Students</h2>
          <div class="text">
            {{ page['Students text'] | markdownify }}
          </div>
          <a class="button mar-top-24" href="mailto:{{ page['Students ask a question'] }}">Ask a Question</a>
        </div>
      </div>
    </div>

    {% for item in site.events limit:1 %}
      {% if item.tags contains 'family' %}

      <div class="family-events">
        <div class="events-grid">
          <div class="container">
          <h2 class="title-2">Family Events</h2>
            {% assign sorted_events = site.events | sort:"event date" %}
            {% for item in sorted_events %}
              {% if item.tags contains 'family' %}
              <div class="event">
                <div class="image">
                  <img src="{{ item.image }}" />
                  <div class="date">
                    <p class="month">
                      {{ item['event date'] | date: "%b" }}
                    </p>
                    <p class="day">
                      {{ item['event date'] | date: "%e" }}
                    </p>
                  </div>
                </div>
                <div class="text">
                  <h2 class="title-3">{{ item.title}}</h2>
                  <p class="regular mar-top-8">
                    {{ item['event date'] | date: "%A, %B %e at %l%P"}}
                  </p>
                  <div class="description">
                    {{ item.content | markdownify }}
                  </div>
                  {% if item['sign up'] != "" %}
                    <a class="button mar-top-24" href="{{ item['sign up'] }}" target="_blank">Sign Up</a>
                  {% endif %}
                </div>
              </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

    {% endif %}
  {% endfor %}
