---
layout: default
---

<div class="down-arrow">
  <img src="imgs/down-icon.svg" />
</div>

<div class="intro animation-group">
  <h1 class="title-1 animate-fade-up">Families <br />following Jesus.</h1>
  <div class="get-directions animate-fade-up delay-2">
    <p class="regular">
      We meet Sundays at {{ site.service_time }}.
    </p>
    <p class="regular mar-top-8">
      <a href="#" target="_blank">Get Directions</a>
    </p>
  </div>
</div>

<div class="home-sections">

  <div class="desktop-images">
    <img class="about-image" src="imgs/about.jpg" />
    <img class="community-image" src="imgs/community.jpg" />
    <img class="family-image" src="imgs/family.jpg" />
    <img class="events-image" src="imgs/events.jpg" />
  </div>

  <div class="home-section about">
    <div class="image animate-fade">
      <img src="imgs/about.jpg" />
    </div>
    <div class="text">
      <div class="rule">
        <div class="bar">
        </div>
      </div>
      <div class="container">
        <div class="animation-group">
          <h2 class="title-2">About</h2>
          <p class="regular mar-top-48 animate-fade-up">
            {{ page['About headline'] }}
          </p>
          <div class="animate-fade-up delay-2">
            <a class="button mar-top-16" href="/about">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-section community">
    <div class="image animate-fade">
      <img src="imgs/community.jpg" />
    </div>
    <div class="text">
      <div class="rule">
        <div class="bar">
        </div>
      </div>
      <div class="container">
        <div class="animation-group">
          <h2 class="title-2">Community</h2>
          <p class="regular mar-top-48 animate-fade-up">
            {{ page['Community headline'] }}
          </p>
          <div class="animate-fade-up delay-2">
            <a class="button mar-top-16" href="/community">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-section family">
    <div class="image animate-fade">
      <img src="imgs/family.jpg" />
    </div>
    <div class="text">
      <div class="rule">
        <div class="bar">
        </div>
      </div>
      <div class="container">
        <div class="animation-group">
          <h2 class="title-2">Family</h2>
          <p class="regular mar-top-48 animate-fade-up">
            {{ page['Family headline'] }}
          </p>
          <div class="animate-fade-up delay-2">
            <a class="button mar-top-16" href="/family">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-section events">
    <div class="image animate-fade">
      <img src="imgs/events.jpg" />
    </div>
    <div class="text">
      <div class="rule">
        <div class="bar">
        </div>
      </div>
      <div class="container">
        <div class="animation-group">
          <h2 class="title-2">Events</h2>
          <p class="regular mar-top-48 animate-fade-up">
            {{ page['Events headline'] }}
          </p>
          <div class="animate-fade-up delay-2">
            <a class="button mar-top-16" href="/events">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
