---
layout: default
---

<div class="down-arrow">
  <img src="imgs/down-icon.svg" />
</div>

<div class="intro animation-group">
  <h1 class="title-1 animate-fade-up">Families <br />following Jesus.</h1>
  <div class="get-directions animate-fade-up delay-2">
    <p class="regular">
      We meet Sundays at {{ site.service_time }}.
    </p>
    <p class="regular mar-top-8">
      <a href="https://www.google.com/maps/place/North+Hills+Christian+Church/@40.5504605,-79.996948,15z/data=!4m5!3m4!1s0x0:0x48fa49a538c4c4ce!8m2!3d40.5504605!4d-79.996948" target="_blank">Get Directions</a>
    </p>
  </div>
</div>

<div class="home-sections">

  <div class="desktop-images">
    <img class="about-image" src="{{ page['Block 1 image'] }}" />
    <img class="community-image" src="{{ page['Block 2 image'] }}" />
    <img class="family-image" src="{{ page['Block 3 image'] }}" />
    <img class="events-image" src="{{ page['Block 4 image'] }}" />
  </div>

  <div class="home-section about">
    <div class="image animate-fade">
      <img src="{{ page['Block 1 image'] }}" />
    </div>
    <div class="text">
      <div class="rule">
        <div class="bar">
        </div>
      </div>
      <div class="container">
        <div class="animation-group">
          <h2 class="title-2">{{ page['Block 1 title'] }}</h2>
          <p class="regular mar-top-48 animate-fade-up">
            {{ page['Block 1 text'] }}
          </p>
          <div class="animate-fade-up delay-2">
            <a class="button mar-top-16" href="{{ page['Block 1 link'] }}">{{ page['Block 1 link title'] }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-section community">
    <div class="image animate-fade">
      <img src="{{ page['Block 2 image'] }}" />
    </div>
    <div class="text">
      <div class="rule">
        <div class="bar">
        </div>
      </div>
      <div class="container">
        <div class="animation-group">
          <h2 class="title-2">{{ page['Block 2 title'] }}</h2>
          <p class="regular mar-top-48 animate-fade-up">
            {{ page['Block 2 text'] }}
          </p>
          <div class="animate-fade-up delay-2">
            <a class="button mar-top-16" href="{{ page['Block 2 link'] }}">{{ page['Block 2 link title'] }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-section family">
    <div class="image animate-fade">
      <img src="{{ page['Block 3 image'] }}" />
    </div>
    <div class="text">
      <div class="rule">
        <div class="bar">
        </div>
      </div>
      <div class="container">
        <div class="animation-group">
          <h2 class="title-2">{{ page['Block 3 title'] }}</h2>
          <p class="regular mar-top-48 animate-fade-up">
            {{ page['Block 3 text'] }}
          </p>
          <div class="animate-fade-up delay-2">
            <a class="button mar-top-16" href="{{ page['Block 3 link'] }}">{{ page['Block 3 link title'] }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="home-section events">
    <div class="image animate-fade">
      <img src="{{ page['Block 4 image'] }}" />
    </div>
    <div class="text">
      <div class="rule">
        <div class="bar">
        </div>
      </div>
      <div class="container">
        <div class="animation-group">
          <h2 class="title-2">{{ page['Block 4 title'] }}</h2>
          <p class="regular mar-top-48 animate-fade-up">
            {{ page['Block 4 text'] }}
          </p>
          <div class="animate-fade-up delay-2">
            <a class="button mar-top-16" href="{{ page['Block 4 link'] }}">{{ page['Block 4 link title'] }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
