---
layout: default
---

    <div class="page-title">
      <div class="max-width-container">
        <h1 class="title-2">Missions</h1>
        <div class="bar"></div>
      </div>
    </div>

    <div class="page-image">
      <img src="{{ page['header image'] }}" />
    </div>

    <div class="page-intro">
      <div class="max-width-container">
        <p class="large">
          {{ page['content'] }}
        </p>
      </div>
    </div>

    <div class="current-mission">
      <div class="max-width-container">
        <h2 class="title-3">{{ page['next trip'] }}</h2>
        <p class="regular mar-top-24">
          {{ page['next trip text'] }}
        </p>
        <a class="button mar-top-24" href="{{ page['next trip link'] }}" target="_blank">Support this Trip</a>
      </div>
    </div>

    <div class="missions-grid">
      <div class="max-width-container">
        <div class="grid-item">
          <p class="title-3">Local Missions</p>
          <ul class="mar-top-24">
            <li class="regular">
              <a href="#">His Place Community Center</a>
            </li>
            <li class="regular">
              <a href="#">North Hills Community Outreach</a>
            </li>
          </ul>
        </div>
        <div class="grid-item">
          <p class="title-3">Global Missions</p>
          <ul class="mar-top-24">
            <li class="regular">
              <a href="#">Christ for the City</a>
            </li>
            <li class="regular">
              <a href="#">Christian Evangelistic Society</a>
            </li>
            <li class="regular">
              <a href="#">IDES (International Disaster Emergency Services)</a>
            </li>
            <li class="regular">
              <a href="#">Ivory Coast Christian Mission</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
