---
layout: default
---

    <div class="page-title">
      <div class="max-width-container">
        <h1 class="title-2">Needs</h1>
        <div class="bar"></div>
      </div>
    </div>

    <div class="page-image">
      <img class="animate-fade" src="{{ page['header image'] }}" />
    </div>

    <div class="page-intro animate-fade">
      <div class="max-width-container">
        <p class="large">
          {{ page['content'] }}
        </p>
      </div>
    </div>

    <div class="needs-form">
      <div class="max-width-container">
        <div class="form animate-fade-up">
          <form action="https://formspree.io/jherzberg@gmail.com" method="POST">
            <input type="hidden" name="_subject" value="New NHCC needs submission." />
            <input type="hidden" name="_next" value="http://northhillschristian.church/thanks" />

            <div class="grid thirds">
              <div class="grid-item">
                <label>Name</label>
                <input type="text" name="name" required>
              </div>
              <div class="grid-item">
                <label>Email</label>
                <input type="text" name="email">
              </div>
              <div class="grid-item">
                <label>Phone</label>
                <input type="text" name="phone">
              </div>
            </div>

            <div class="grid full-width">
              <div class="grid-item">
                <label>What do you need help with?</label>
                <textarea type="text" name="message" required></textarea>
              </div>
            </div>

            <div class="submit">
              <input class="button" type="submit" value="Submit">
            </div>
          </form>
      </div>
    </div>
  </div>
