<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>North Hills Christian Church | Needs</title>
  <meta name="description" content="North Hills Christian Church is a community making followers of Jesus for the whole family. We're located just north of downtown Pittsburgh at the intersection of McCandless, Hampton, Ross and Shaler Townships.">
    <meta name="keywords" content="church, christian church, north hills, pittsburgh, family church">

  <!-- Faecbook Share -->
  <meta property="og:url" content="https://northhillschristian.church" />
  <meta property="og:title" content="North Hills Christian Church" />
  <meta property="og:description" content="Families following Jesus in Pittsburgh, PA." />
  <meta property="og:image" content="https://northhillschristian.church/imgs/facebook-share.png" />
  <!-- Twitter Share -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="North Hills Christian Church" />
  <meta name="twitter:description" content="Families following Jesus in Pittsburgh, PA." />
  <meta name="twitter:image" content="https://northhillschristian.church/imgs/twitter-share.png" />

  <link rel="stylesheet" href="/css/main.css">
  <link rel="canonical" href="http://localhost:4000/needs">
  <link rel="alternate" type="application/rss+xml" title="North Hills Christian Church" href="http://localhost:4000/feed.xml">
  <link href="imgs/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118898819-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-118898819-1');
  </script>
</head>


  <body>

    <header>
  <div class="logo">
    <a href="/"><img src="imgs/logo.svg" /></a>
  </div>
  <div class="menu-icon">
    <div class="bar top"></div>
    <div class="bar middle"></div>
    <div class="bar bottom"></div>
  </div>
  <ul class="menu">
    <li><a href="/about">About</a></li>
    <li><a href="/community">Community</a></li>
    <li><a href="/family">Family</a></li>
    <li><a href="/events">Events</a></li>
  </ul>
</header>


        <div class="page-title">
      <div class="max-width-container">
        <h1 class="title-2">Needs</h1>
        <div class="bar"></div>
      </div>
    </div>

    <div class="page-image">
      <img class="animate-fade" src="/uploads/needs-hero-02e7af.jpg" />
    </div>

    <div class="page-intro animate-fade">
      <div class="max-width-container">
        <p class="large">
          Fill out the form below, and our team will reach out with how we can help.

        </p>
      </div>
    </div>

    <div class="needs-form">
      <div class="max-width-container">
        <div class="form animate-fade-up">
          <form action="https://formspree.io/nhccneeds@gmail.com" method="POST">
            <input type="hidden" name="_subject" value="New NHCC needs submission." />
            <input type="hidden" name="_next" value="http://northhillschristian.church/success" />

            <div class="grid thirds">
              <div class="grid-item">
                <label>Name</label>
                <input type="text" name="name" required>
              </div>
              <div class="grid-item">
                <label>Email</label>
                <input type="text" name="email">
              </div>
              <div class="grid-item">
                <label>Phone</label>
                <input type="text" name="phone">
              </div>
            </div>

            <div class="grid full-width">
              <div class="grid-item">
                <label>What do you need help with?</label>
                <textarea type="text" name="message" required></textarea>
              </div>
            </div>

            <div class="submit">
              <input class="button" type="submit" value="Submit">
            </div>
          </form>
      </div>
    </div>
  </div>


    <footer>
  <div class="newsletter">
    <h2 class="title-3">Sign up for our newsletter.</h2>
    <div class="sign-up">
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
      <div id="mc_embed_signup">
      <form action="https://nhcctoday.us6.list-manage.com/subscribe/post?u=74813e5d1413cbb65f9791ec0&amp;id=56afd0fbaa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        	  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_74813e5d1413cbb65f9791ec0_56afd0fbaa" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
          </div>
      </form>
      </div>

      <!--End mc_embed_signup-->
    </div>
  </div>
  <div class="contact">
    <div class="text">
      <div class="container">
        <h3 class="title-2">We meet Sundays <br /> at 10am
        </h3>
        <div class="bar"></div>
      </div>
      <div class="contact-info mar-top-48">
        <p class="regular">
          778 Thompson Run Rd, <br />Pittsburgh, PA 15237
        </p>
        <p class="regular mar-top-48">
          <a href="mailto:hi@northhillschristian.church">hi@northhillschristian.church</a>
        </p>
        <p class="regular">
          (412) 487-4142
        </p>
      </div>
    </div>
    <div class="map">
      <div id="map">
      </div>
    </div>
  </div>
  <div class="links">
    <ul class="nav">
      <li><a href="/about">About</a></li>
      <li><a href="/community">Community</a></li>
      <li><a href="/family">Family</a></li>
      <li><a href="/events">Events</a></li>
    </ul>
    <div class="social">
      <div class="icon">
        <a href="https://www.instagram.com/northhillschristian.church/" target="_blank">
          <img src="imgs/instagram.svg" />
        </a>
      </div>
      <div class="icon">
        <a href="https://www.facebook.com/northhillschristian.church/" target="_blank">
          <img src="imgs/facebook.svg" />
        </a>
      </div>
    </div>
  </div>
</footer>


    <script media="all" src="js/jquery-3.2.1.min.js"></script>
    <script media="all" src="js/jquery.waypoints.min.js"></script>
    <script media="all" src="js/smooth-scroll.js"></script>
    <script media="all" src="js/main.js"></script>
    <script>
      function initMap() {
        var uluru = {lat: 40.550440018509676, lng: -79.99786697222888};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 18,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
        marker.addListener('click', function() {
          window.open('https://www.google.com/maps/place/North+Hills+Christian+Church/@40.5504605,-79.996948,15z/data=!4m5!3m4!1s0x0:0x48fa49a538c4c4ce!8m2!3d40.5504605!4d-79.996948', '_blank');
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaeeipSEjg5rOW11Ez9BGxAVl8jAaKG3E&callback=initMap">
    </script>
  </body>

</html>
