---
layout: default
---

    <div class="page-title">
      <div class="max-width-container">
        <h1 class="title-2">Sermons</h1>
        <div class="bar"></div>
      </div>
    </div>

    <div class="sermons-grid">
      <div class="container">
        {% for item in site.sermon_library | sort:"position" %}
          <div class="sermon">
            <div class="media">
              <div class="media-wrapper">
                <iframe src="{{ item.media }}" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
            <div class="info">
              <h3 class="title-3">
                {{ item.title }}
              </h3>
              <div class="details">
              <p class="regular speaker">
                {{ item.speaker }}
              </p>
              <p class="regular date">
                {{ item.sermon_date | date: "%B %d, %Y"}}
              </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
